body {
	margin: 0 auto;
	font: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color: #464646;
}

a {
	color: #000000;
	text-decoration: none;
}

.container {
	width: 1160px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.main-header {
	position: relative;
	margin-top: 40px;
}

.main-header .container {
	background-color: #f7e296;
}

.main-header .logo {
	position: absolute;
	top: -20px;
	outline: 1px solid orange;
}

.main-header .index-panel {
	float: left;
	width: 500px;
	padding-left: 60px;
	padding-right: 20px;
	outline: 1px solid red;
}

.main-header .user-panel {
	float: right;
	width: 500px;
	padding-left: 20px;
	padding-right: 60px;
	outline: 1px solid green;
}

.slider {
	margin-bottom: 90px;
}

.slider .slider-img {
	float: left;
	width: 580px;
	outline: 1px solid red;
}

.slider .slider-about {
	float: right;
	width: 500px;
	padding-left: 20px;
	padding-right: 60px;
	outline: 1px solid green;
}

.slider-about h2 {
	font: 'Gilroy', sans-serif;
	font-size: 47px;
	font-weight: 800;
	color: #000000;
}

.catalog-popular {
	margin-bottom: 160px;
}

.catalog-popular .item {
	float: left;
	width: 160px;
	margin-right: 40px;
	font: 'Gilroy', sans-serif;
	font-size: 18px;
	font-weight: 800;
}

.catalog-popular .item:last-child {
	margin-right: 0;
}

.catalog-popular img {
	width: 160px;
	height: 160px;
	background-color: #f7e296;
}

.service {
	margin-bottom: 94px;
}

.service-list {
	float: left;
	width: 280px;
	outline: 1px solid red;
}

.service-slide {
	float: right;
	padding-left: 120px;
	width: 760px;
	outline: 1px solid green;
}

service-slide h2 {
	font: 'Gilroy', sans-serif;
	font-size: 47px;
	font-weight: 800;
	color: #000000;
}

.logotype {
	margin-bottom: 94px;
}

.logotype a {
	float: left;
	margin-right: 40px;
}

.logotype a:last-child {
	margin-right: 0;
}

.about-info {
	float: left;
	width: 480px;
	padding-right: 100px;
	outline: 1px solid red;
}

.about-contact {
	float: right;
	width: 560px;
	padding-left: 20px;
	outline: 1px solid green;
}

.section-title h1 {
	font: 'Gilroy', sans-serif;
	font-size: 47px;
	font-weight: 800;
	color: #000000;
}

.section .catalog-filter {
	float: left;
	width: 200px;
	padding-left: 60px;
	padding-right: 68px;
	outline: 1px solid red;
}

.filter-name h3 {
	font: 'Gilroy', sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: #000000;
}

.section .section-sort {
	float: right;
	width: 832px;
	outline: 1px solid green;
}

.section .section-items {
	float: right;
	width: 760px;
	margin-left: 72px;
	margin-top: 69px;
	font-size: 0;
	outline: 1px solid blue;
}

.section-items .item {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 70px
}

.section-items .item:nth-child(odd) {
	margin-right: 40px;
}

.item h3 {
	font: 'Gilroy', sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: #000000;
}

.catalog-pagination {
	float: right;
	width: 760px;
	outline: 1px solid orange;
}

.main-footer {
	margin-top: 90px;
	background-color: #464646;
}

.footer-info {
	float: left;
	width: 360px;
	outline: 1px solid red;
}

.footer-link {
	float: left;
	width: 440px;
	outline: 1px solid green;
}

.user-panel {
	float: right;
	width: 360px;
	outline: 1px solid blue;
}

.hidden {
	display: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
